.song-detail {
  display: flex;
  flex-direction: column;
}

.title {
  box-sizing: border-box;
  background:#fff;
  height: 30px;
  color: #00b9d7;
  overflow: hidden;
  padding: 0;
  padding: 5px 0 0 5px;
  margin: 0;
}

.title h1 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  color: #00b9d7;
}

h2.song-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  background: rgba(50,50,50,0.75);
  color: #eee;
  font-size: 1em;
  line-height: 30px;
  vertical-align: middle;
}

.banner-container {
  flex: 1 1 180px;
  display: flex;
  flex-direction: row;
}

.chart-container {
  flex: 0 1 85px;
  padding-left: 10px;
}

.banner {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.chart-select {
  overflow: hidden;
  cursor: pointer;
  height: 36px;
  width: 100px;
  color: #eee;
  position: relative;
  margin-bottom: 5px;
  opacity: 0.6;
  transition: 0.25s ease;
  display: flex;
  flex-direction: row;
}

.chart-select.Beginner {
  background-color: hsl(192, 100%, 45%);
}

.chart-select.Easy {
  background-color: hsl(135, 79%, 47%);
}

.chart-select.Medium {
  background-color: rgb(233, 196, 35);
}

.chart-select.Hard {
  background-color: rgb(171, 22, 22);
}

.chart-select.Challenge {
  background-color: rgb(132, 26, 158);
}

.chart-select.Edit {
  background-color: rgb(23, 23, 43);
}

.chart-select.selected {
  color: #fff;
  opacity: 1;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
}

.chart-select .left {
  flex: 0 1 40px;
  padding:2px;
}

.chart-select .right {
  background: rgba(0, 0, 0, 0.25);
  flex: 0 1 60px;
}

.chart-select .meter {
  display: block;
  line-height: 36px;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
}

.chart-select .difficulty {
  text-transform: uppercase;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

.chart-select .stepstype {
  text-transform: capitalize;
  display: block;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}
