*{
  box-sizing: border-box;
  border:0;
  padding:0;
}

#song-wheel{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  flex-flow:column;
  width:100%;
  height:100%;
}

#song-wheel .row {
  flex: 0 1 30px;
}

.background{
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  display:block;
  width:100%;
  height:100%;
}

#song-wheel .title{
  flex: 0 1 auto;
  box-sizing: border-box;
  background:#fff;
  height:50px;
  color:#00b9d7;
  border-bottom:5px solid #00b9d7;
  overflow:hidden;
  padding:0;
  padding-top:16px;
  margin:0;
}

.content{
  flex: 1 1 auto;
  border-bottom:5px solid #00b9d7;
  box-shadow: inset 0 100px 100px -100px rgba(0,0,0,0.75),
    inset 0 -100px 100px -100px rgba(0,0,0,0.75);
}

.title h1{
  padding:0;
  margin:0;
  color:#00b9d7;
  font-size:2em;
}

.wheel {
  max-width:500px;
  float: right;
  width: 40%;
  height: 100%;
  border-left:5px solid #fff;
  background:rgba(50,50,50,0.75);
}

.wheel ul.songs {
  width: 100%;
}

.wheel ul.songs li.song {
  box-sizing: border-box;
  padding:5px 20px;
  margin:0;
  color:#00b9d7;
  list-style: none;
  font-size:2em;
  cursor:pointer;
  position: relative;
  height:60px;
}

h2.song-title{
  font-size:0.8em;
  height:0.8em;
  padding:0;
  margin:0;
}

h3.song-subtitle{
  font-size:0.5em;
  height:0.5em;
  padding:8px 0 0 0;
  margin:0;
}

h4.song-artist{
  padding:0;
  margin:0;
  font-size:0.4em;
  position:absolute;
  right:5px;
  bottom:3px;
}

.wheel ul.songs li.song.selected {
  background:rgba(255,255,255,0.25);
}

.song-detail{
  max-width:800px;
  padding:25px 75px 25px 25px;
  margin:0;
  float:left;
  width:60%;
}
