<div id="song-wheel"
>
  <div class="title">
    <h1>Select Music:</h1>
  </div>
  <div class="content">
    <div class="background"
    [ngStyle]="{
      'background': bg
    }"></div>
    <div class="song-detail">
      <song-detail [song]="getSelected()"></song-detail>
    </div>
    <div class="wheel">
      <ul class="songs">
        <li class="song" #item
          *ngFor="#song of songs; #i = index;"
          (mouseenter)="select(i)"
          [ngClass]="{'selected': isSelected(i)}"
          [routerLink]="['Play', {'id': song.id}]"
          (click)="onSelect(song)">
          <h2 class="song-title">{{song.title}}</h2>
          <h3 class="song-subtitle">{{song.subtitle}}</h3>
          <h4 class="song-artist">~{{song.artist}}</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
  </div>
</div>
