<div id="song-wheel"
>
  <div class="title">
    <h1>Select Music:</h1>
  </div>
  <div class="content">
    <div class="background"
      *ngFor="let bg of bgs; let i = index;"
      [ngClass]="{
        'fade-in': i == bgs.length - 1 && i != 0
      }"
      [ngStyle]="{
        'background': bg
      }"></div>
    <div class="song-detail">
      <song-detail [song]="getSelected()"></song-detail>
    </div>
    <div class="wheel">
      <ul class="songs">
        <li class="song"
          *ngFor="let song of songs; let i = index;"
          (mouseenter)="select(i)"
          (click)="play(song.id)"
          [ngClass]="{'selected': isSelected(i)}">
          <h2 class="song-title">{{song.getMeta().title}}</h2>
          <h3 class="song-subtitle">{{song.getMeta().subtitle}}</h3>
          <h4 class="song-artist">~{{song.getMeta().artist}}</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
  </div>
</div>
