<div class="main-menu">
  <div class="main-menu-content">
    <h1>Rhythmos</h1>
    <ul>
      <li #item *ngFor="#route of menu"
        (mouseenter)="select(route)">
        <a *ngIf="route.path"
          [ngClass]="{'selected': route.active}"
          [routerLink]="route.path">
          {{route.name}}
        </a>
        <a *ngIf="route.href"
          target="_blank"
          [ngClass]="{'selected': route.active}"
          [href]="route.href">
          {{route.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
