* {
  padding: 0;
  margin: 0;
}

.main-menu{
  height: 100%;
  width: 100%;
}

.main-menu-content{
  width:100%;
  position:absolute;
  bottom:25%;
}

h1 {
  color: #fff;
  font-size: 3em;
}

ul {
  background-color: #00b9d7;
  list-style-type: none;
  width: 100%;
}

li {
  color: #000;
  font-weight: bold;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  font-size: 1.5em;
  padding: 0.25em 1em;
  transition: linear 0.05s;
}

a.selected {
  color: #fff;
  text-shadow: 0 0 1px #000,
               0 0 3px #fff;
  padding-left: 1.5em;
  transition: linear 0.1s;
}
