<div class="main-menu">
  <div class="main-menu-content">
    <h1>Rhythmos</h1>
    <ul>
      <li #item *ngFor="#elem of menu"
        (mouseenter)="item.hover = true;"
        (mouseleave)="item.hover = false;">
        <!-- TODO: Dynamically configure the Angular Router service to make
        //      the routerLinke work with elem link attribute. -->
        <a class="selected"
          [ngClass]="{'selected': item.hover}"
          [routerLink]="['SongWheel']">
          {{elem.label}}
        </a>
      </li>
      <li>
        <a [routerLink]="['Options']">Options</a>
      </li>
    </ul>
  </div>
</div>
